<!DOCTYPE html>
<html>
<head>
    <title>Recipe Database</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1 class="text-center">Recipe Database</h1>
    <form method="POST" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <label for="search">Search: </label>
            <input type="text" name="search" class="form-control" id="search" />
        </div>
        <input type="submit" class="btn btn-primary" />
    </form>
</div>
</body>
</html>